.expense-form-div {

    display: flex;
    flex-direction: column;
    width: 100%;
    

    .expense-form {
        display: flex;
        flex-direction: column;
        align-items: space-around;
        width: 100%;       
        font-weight: bold;      

        .form-input {
            width: 100%;
            height: 30px;
            margin: 10px 0;           
            border-top: 1px;
        }

        button {
            width: 100%;
            font-size: 1.2rem;           
            height: 2rem;
            margin: 0 auto;
            outline: none;
            cursor: pointer;
            border: none;
            background: #2e4bb4;
            color: white;
            border-radius: 3px;
            transition: all .3s;
            box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.507);
    
        }


    }




}//end expense-form