
.expense-card-div {    

    @media (max-width: 800px) {
        width: 100%;
        height: auto;
      }
  
      @media (max-width: 500px) {
        width: 100%;
        height: auto;
      }


    .ui.card {
        

        width: 100%;
        text-align: left;

        .header {
            text-align: left;
        }        

        .delete-icon::before {
            padding: 5px;
            &:hover {
                background: grey;
            }
        }

        .delete-icon {
        position: absolute;
        padding: 3px;
        right: 5px;
        top: 5px;
        cursor: pointer;

            .delete-bill-button {
                background: red;               
            }

            .delete-bill-button {
                background: green;
            }
         
        }

        .edit-icon {    
            cursor: pointer;  
        
        }

        .mail-icon {     
            cursor: pointer;  
        
        }

        .dollar-icon {     
            cursor: pointer;  
        
        }

        .expense-card-modal  {            
            display:flex;
        }

        ui.modal.transition.visible.active {
            .header {
                @media (max-width: 800px) {
                    width: 100%;
                    height: auto;
                }
            
                @media (max-width: 500px) {
                    width: 100%;
                    height: auto;
                }
        
            }
        }
        
        .sent-notifications {
            width: 100%;
            margin: 5px 0;
            margin-bottom: 0;
            display: flex;
            flex-wrap: wrap;                     

            p{
                margin: 5px 0px;
            }

            .notification {
                margin: 3px 5px;
                /*background: rgb(124, 34, 197);*/
                background: #2eb497;
                color: white;
                padding: 5px;
                border-radius: 3px;
            }
        }        
        

    }//end ui card         
    
    
}
