.manage-notifications  {                
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        background: #2eb497;

        p{
            margin: 5px 0px;
            
        }

        .notification {            
            margin: 3px 5px;
            /*background: rgb(124, 34, 197);*/
            background: #2eb497;
            color: white;
            padding: 5px;
            border-radius: 3px;
        }
}




